{% extends "base_logged.html" %}
{% block title %}Home{%endblock%}
{% block content %}

<div class="topbar" name="feed-bar" id="feed-bar">
	<div class="row row-cols-1 row-cols-md-2 g-4" style="height:100vh">
		{% for post in posts %}
		<div class="col">
			<div class="card h-50">
				<div class="card-header">
					<img src="/img/profile_img/{{post.profile_img_id}}" alt="media_{{post.id}}" height="20px"
						width="auto" style="float:left;padding-right:5px;" />
					<a style="font:bolder">{{post.username}}</a>
				</div>
				<div class="postImage">
					<img src="/img/post_img/{{post.image_id}}" alt="media_{{post.id}}" class="postImage">
				</div>
				<div class="card-body">
					<h5 class="card-title">{{post.title}}</h5>
					<p class="card-text">{{post.content}}</p>
					<span></span>
				</div>
				<div class="card-footer">&hearts;</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}